body{
    position: relative;
}
input{
    max-width: 200px;
    height:20px
}

label{
    display: block;
}

button{
    width: 50px;
    height:30px;
    display: block;
}

p{
    font-size: 30px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

form{

    max-width: 400px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-content: space-around;
    gap:10px
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista{
    background-color: azure;
    display: grid;
    grid-template-columns: repeat(auto-fit,400px);
    justify-content: center;
    align-content: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

ul{
    padding: 20px;
    list-style: none;
    border-radius: 5px;
    min-height: 100px
    
}


.lista ul li{
    margin: 10px 0 ;
}

.lista ul li a{
    text-decoration: none;
}

.lista>li{
    box-shadow: 0 3px 4px grey;
    border-radius: 5px;
    background-color: rgb(201, 224, 253);
}

.excluir{
    width:70px;
    height: 20px;
    font-size: 0.9rem;
    padding:15px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editar{
    width:70px;
    height: 20px;
    font-size: 0.9rem;
    padding:15px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modulo-excluir{
    max-width: 400px;
    height: 150px;
    border: 2px solid  rgb(21, 48, 123);
    border-radius: 4px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:35vh;
    left: 34vw;
    z-index: 5;
    background-color: azure;
}

.modulo-excluir p{
    font-size: 1.3rem;
    padding: 10px;
}

.modulo-excluir div{
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.modulo-excluir button{
    padding: 5px 15px;
    color:white;
    background-color: rgb(192, 39, 12);
    cursor: pointer;
}

.modulo-excluir #modulo-sim{
    background-color: green;
}


.modulo-editar{
    position: fixed;
    width: 500px;
    max-width: 600px;
    border: 2px solid  rgb(21, 48, 123);
    border-radius: 4px;
    top:42vh;
    left: 29vw;
    z-index: 5;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.modulo-editar div{
    height: auto;
    padding: 10px;
}

.mostrar{
    display: flex
}

.estilo-nome{
    color: rgb(21, 48, 123);
    font-size: 1.3rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
